<h1 class='has-text-centered m-3 p-3 is-size-3 has-text-weight-bold'>New Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Back', recipes_path, class: "button is-success is-focused" %>
