<h1 class='has-text-centered m-3 is-size-3 has-text-weight-bold'>Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class='card'>
    <div class='card-content'>
      <div class='content m-3'>
        <div class='is-flex is-justify-content-space-between p-5'>
          <div>
            <p class='is-size-4 has-text-weight-bold'><%= recipe.name %></p>
            <p class='has-text-weight-semibold'>By: <%= recipe.user.name %></p>
          </div>
          <div class='has-text-weight-semibold'>
            <p>Total food items: <%= @items_count %> </p>
            <p>Total price: $<%= @total_amount %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
