<div class='has-text-centered'>
  <h2 class='m-3 p-3 is-size-3 has-text-weight-bold'>CREATE A NEW FOOD</h2>

  <%= render 'form', food: @food %>
  <%= link_to 'Back', foods_path, class: "button is-success is-focused m-2" %>
</div>
